.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    color: #2e9ed5 !important;
    font-size: 10px !important;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 1000000;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #2e9ed5;
    font-size: 15px !important;
    font-weight: bolder;
    padding: 0 !important;
}